/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  color: #e8232a;
}

html, body {
  color: #2B2D42;
  font-family: "Open Sans", sans-serif !important;
}

.savema-mobile-info {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #ededf4;
  border-bottom: 1px solid #ebebcb;
}
.savema-mobile-info a {
  color: #e8232a;
  line-height: 1em;
  font-weight: 400;
  vertical-align: middle;
}
.savema-mobile-info a span {
  padding: 6px;
  color: #e8232a;
  background: white;
  border-radius: 50%;
  border: 1px solid #e8232a;
}
.savema-mobile-info a span.showtime {
  color: #ffffff;
  background: #e8232a;
}
.savema-mobile-info-title {
  bottom: 0;
  margin: 0;
  right: 25%;
  width: 125px;
  font-size: 11px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.1em;
  color: #8D99AE;
  padding: 0 0 2px 0;
  border-radius: 1px 1px 10px 10px;
  background: #ededf4;
  transform: translateX(calc(15% + 15px)) translateY(50%);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.05);
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dbdbbb;
  border-left: none;
}
.savema-mobile-info.savema-scrolled {
  top: auto;
  bottom: 0;
  z-index: 900;
  position: fixed;
  border-top: 1px solid #ebebcb;
  border-bottom: none;
}
.savema-mobile-info.savema-scrolled .savema-mobile-info-title {
  top: -20px;
  bottom: auto;
  border-radius: 10px 10px 1px 1px;
  border-top: 1px solid #dbdbbb;
  border-right: none;
  border-bottom: none;
  border-left: none;
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.05);
}
.savema-totop a {
  top: 5%;
  opacity: 0;
  right: 15px;
  z-index: 900;
  position: fixed;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 700;
  border-radius: 3px;
  padding: 5px 10px 5px 0;
  background: rgba(237, 237, 244, 0.9);
  border-bottom: 1px solid lightgray;
}
.savema-header {
  padding: 79px 15px 0 15px;
}
.savema-header.savema-scrolled {
  padding-top: 69px;
  transform: translateX(calc(25% + 15px)) translateY(-50%);
}
.savema-header-mobile.uk-grid {
  margin-top: 10px;
}
.savema-header-mobile-openclose button {
  width: 100%;
  border: none;
  padding: 5px 0;
  font-weight: 300;
  font-size: 1.37em;
  border-radius: 34px;
}
.savema-header-mobile-openclose button span {
  vertical-align: 1px;
}
.savema-header-mobile-menu li {
  padding: 7px 0;
}
.savema-content-masthead {
  padding: 0 30px;
  background: url("../img/savema-header-bg-3.png") center center no-repeat;
  background-size: auto 100%;
}
.savema-content-masthead-title {
  font-size: 2em;
  font-weight: 800;
}
.savema-content-masthead-title-alt {
  color: #e8232a;
}
.savema-content-masthead p {
  line-height: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}
.savema-content-block {
  padding: 60px 30px 0 30px;
}
.savema-content-block h2 {
  font-weight: 700;
}
.savema-content-block-image {
  margin-bottom: 0;
}
.savema-content-block li {
  padding-bottom: 15px;
}
.savema-content-block-cta {
  padding: 0 25px 0 30px;
  letter-spacing: 0.05em;
}
.savema-content-block-cta span.btnlnk-icon {
  margin-left: 10px;
}
.savema-content-block-weare {
  display: block !important;
}
.savema-content-block-weare > div:last-child {
  margin: 50px 0 0 0 !important;
}
.savema-content-block-weare h4 {
  padding-left: 30px;
  padding-right: 30px;
}
.savema-footer {
  overflow: hidden;
  color: #ededf4;
  padding: 60px 0 0 0;
}
.savema-footer h4 {
  font-weight: 700;
  color: #ededf4;
  text-transform: uppercase;
}
.savema-footer-logo {
  position: relative;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 60px;
  padding-right: 30px;
  background: #a20021;
}
.savema-footer-logo:before {
  position: absolute;
  top: -22px;
  left: -10px;
  right: -10px;
  content: "";
  height: 44px;
  transform: rotate(5deg);
  background: #a20021;
}
.savema-footer-logo:after {
  position: absolute;
  bottom: -22px;
  left: -10px;
  right: -10px;
  content: "";
  height: 44px;
  transform: rotate(5deg);
  background: #a20021;
}
.savema-footer-map {
  padding-top: 60px;
}
.savema-footer-contactus {
  background: #8D99AE;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 120px;
  padding-right: 30px;
}
.savema-footer-contactus legend {
  font-weight: 300;
  font-size: 1em;
}
.savema-footer-contactus-checkgroup {
  padding-bottom: 5px;
}
.savema-footer-contactus-checkgroup label {
  display: block;
  margin-bottom: 10px;
}
.savema-footer-contactus-reset, .savema-footer-contactus-send {
  width: 100%;
  background: white;
}
.savema-footer-contactus-send {
  font-weight: 800;
  background: #a20021;
}
.savema-footer-logonmoto {
  position: relative;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 60px;
  padding-right: 30px;
  background: #a20021;
}
.savema-footer-logonmoto:before {
  position: absolute;
  top: -22px;
  left: -10px;
  right: -10px;
  content: "";
  height: 44px;
  transform: rotate(5deg);
  background: #a20021;
}
.savema-footer-logonmoto:after {
  position: absolute;
  bottom: -22px;
  left: -10px;
  right: -10px;
  content: "";
  height: 44px;
  transform: rotate(5deg);
  background: #a20021;
}
.savema-footer-companyinfo {
  overflow: auto;
  background: #8D99AE;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.1em;
}
.savema-footer-companyinfo a {
  color: white;
}
.savema-footer-quicklinks {
  padding-top: 60px;
}
.savema-footer-somedlnks {
  background: #8D99AE;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.savema-footer-somedlnks a {
  color: white;
}
.savema-footer-copylabel {
  font-size: 0.9em;
  background: #8D99AE;
  padding: 30px 30px 130px 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (min-width: 481px) {
  .savema-mobile-info {
    display: none;
    visibility: hidden;
  }

  .savema {
    max-width: 960px;
    margin: 0 auto;
  }
  .savema-header {
    padding: 0;
    border-bottom: 1px solid #e8232a;
  }
  .savema-header img {
    width: auto;
    height: 64px;
  }
  .savema-header-mobile-openclose button {
    width: auto !important;
  }
  .savema-content-masthead {
    margin-top: 15px;
    padding: 120px 30px 45px 45px;
    background: url(../img/mastbg/bg1-dlouhe-strane-861x574.jpg);
    background: url(../img/mastbg/bg2-nuclear-power-plant-861x574.jpg);
    background: url(../img/mastbg/bg3-pexels-photo-2026334.jpeg);
    background: url(../img/mastbg/bg4-PIA21983.jpg);
    background-size: cover;
  }
  .savema-content-masthead-title {
    margin: 0;
    padding: 10px 0;
    display: inline;
    line-height: 2.2em;
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.2), -10px 0 0 rgba(255, 255, 255, 0.2);
    background: rgba(237, 237, 244, 0.2);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
  }
  .savema-content-masthead a {
    margin: 30px 0 0 -10px;
  }
  .savema-content-masthead p {
    width: 70%;
    padding: 15px;
    color: white;
    font-weight: 300;
    font-weight: 700;
    margin: 30px 0 0 -20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
  }
  .savema-content-block {
    padding: 60px 0;
    position: relative;
  }
  .savema-content-block img {
    left: 0;
    width: auto;
    height: 48px;
    position: absolute;
  }
  .savema-content-block h2 {
    margin: 0;
    padding: 0 0 0 64px;
    line-height: 48px;
    display: inline-block;
  }
  .savema-content-block-weare {
    display: flex;
  }
  .savema-content-block-weare img {
    transform: translate(0, -50%);
  }
  .savema-footer-logo img {
    margin: 0 auto;
    width: auto;
    height: 64px;
  }
  .savema-footer-logo:before, .savema-footer-logo:after {
    display: none;
  }
  .savema-footer-logonmoto img {
    margin: 0 auto;
    width: auto;
    height: 64px;
  }
  .savema-footer-logonmoto:before, .savema-footer-logonmoto:after {
    display: none;
  }
  .savema-footer-companyinfo {
    width: 100%;
    box-sizing: border-box;
  }
  .savema-footer-companyinfo div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .savema-footer-companyinfo div p {
    margin: 0;
    justify-content: space-evenly;
  }
  .savema-footer-copylabel {
    font-size: 0.9em;
    background: #8D99AE;
    padding: 30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .savema-content-block {
    padding: 0 30px;
    margin: 60px;
  }
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
