/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$main-red: rgba(232, 35, 42, 1);
$color-main: rgb(232, 35, 42);
$color-heidelberg-red: rgba(162, 0, 33, 1);
$color-sandy-brown: rgba(247, 157, 92, 1);
$color-vivid-tangelo: rgba(243, 117, 43, 1);
$color-afw: rgba(237, 237, 244, 1);;

$color-gunmetal: #2B2D42;
$color-grey-blue: #8D99AE;

$svm-padding-footer-top: 60px;
$svm-padding-footer-lr: 30px;

html, body {
  color: $color-gunmetal;
  font-family: 'Open Sans', sans-serif !important;
}

.savema {
  &-header {
    &-mobile {
      &.uk-grid {
        margin-top: 10px;
      }

      &-openclose {
        & button {
          width: 100%;
          border: none;
          padding: 5px 0;
          font-weight: 300;
          font-size: 1.37em;
          border-radius: 34px;

          & span {
            vertical-align: 1px;
          }
        }
      }
    }
    &-mobile-info {
      position: relative;
      background: $color-afw;
      border-bottom: 1px solid rgb(235, 235, 203);

      & a {
        color: $main-red;
        line-height: 1em;
        font-weight: 800;
        vertical-align: middle;

        & span {
          padding: 8px;
          color: $main-red;
          background: white;
          border-radius: 50%;
          border: 1px solid $main-red;

          &.showtime {
            color: #ffffff;
            background: $main-red;
          }
        }
      }

      &-title {
        right: 25%;
        bottom: 0;
        margin: 0;
        font-size: 11px;
        position: absolute;
        text-align: center;
        letter-spacing: 0.1em;
        color: $color-grey-blue;
        padding: 0 15px 2px 15px;
        border-radius: 1px 1px 10px 10px;
        background: $color-afw;
        transform: translateX(calc(25% + 15px)) translateY(50%);
        box-shadow: 0 3px 2px 0 rgba(0,0,0,0.05);
        border-top: none;
        border-right: none;
        border-bottom: 1px solid rgb(219, 219, 187);
        border-left: none;
      }
    }
    &-mobile-menu {}

    &-desktop {}
  }
  &-content {
    &-masthead {
      padding: 0 30px;
      background: url("../img/savema-header-bg-3.png") center center no-repeat;
      background-size: auto 100%;

      &-title {
        font-size: 2.4em;
        font-weight: 800;
          &-alt {
            color: $main-red;
          }
      }
      & &-subtitle {
        margin-top: 10px;
        font-size: 0.84em;
      }
      &-cta {
        padding: 0 30px;
        letter-spacing: 0.05em;
      }
      & p {
        padding: 30px 0 0 0;
      }
    }

    &-block {
      padding: 60px 30px 0 30px;

      & h2 {
        font-weight: 700;
      }

      &-image {
        margin-bottom: 0;
      }

      &-cta {
        padding: 0 25px 0 30px;
        letter-spacing: 0.05em;

        & span.btnlnk-icon {
          margin-left: 10px;
        }
      }
    }
  }
  &-footer {
    overflow: hidden;
    color: $color-afw;
    padding: 30px 0 97px 0;
    background: $color-grey-blue;

    h4 {
      font-weight: 700;
      color: $color-afw;
      text-transform: uppercase;
    }

    &-weare {
      h4 {
        padding-left: $svm-padding-footer-lr;
        padding-right: $svm-padding-footer-lr;
      }
    }
    &-map {
      padding-top: $svm-padding-footer-top;
    }
    &-companyinfo {
      padding-top: $svm-padding-footer-top;
      padding-left: $svm-padding-footer-lr;
      padding-right: $svm-padding-footer-lr;
      font-size: 1.1em;
    }
    &-quicklinks {
      padding-top: $svm-padding-footer-top;
    }
    &-contactus {
      padding-top: $svm-padding-footer-top;
      padding-left: $svm-padding-footer-lr;
      padding-bottom: $svm-padding-footer-top * 2;
      padding-right: $svm-padding-footer-lr;

      legend {
        font-weight: 700;
        font-size: 1.15em;
      }
      &-checkgroup {
        padding-bottom: 5px;

        & label {
          display: block;
          margin-bottom: 10px;
        }
      }
      &-reset,
      &-send {
        width: 100%;
        background: white;
      }

      &-send {
        font-weight: 800;
        background: $color-heidelberg-red;
      }
    }
    &-logonmoto {
      position: relative;
      padding-top: $svm-padding-footer-top;
      padding-left: $svm-padding-footer-lr;
      padding-bottom: $svm-padding-footer-top;
      padding-right: $svm-padding-footer-lr;
      background: $color-heidelberg-red;

      &:before {
        position: absolute;
        top: -18px;
        left: -10px;
        right: -10px;
        content: "";
        height: 34px;
        transform: rotate(5deg);
        background: $color-heidelberg-red;
      }
      &:after {
        position: absolute;
        bottom: -18px;
        left: -10px;
        right: -10px;
        content: "";
        height: 34px;
        transform: rotate(5deg);
        background: $color-heidelberg-red;
      }
    }
    &-somedlnks {
      padding-top: $svm-padding-footer-top;
      padding-left: $svm-padding-footer-lr;
      padding-right: $svm-padding-footer-lr;

      & a {
        color: white;
      }
    }
    &-copylabel {
      padding-top: $svm-padding-footer-top;
      padding-left: $svm-padding-footer-lr;
      padding-right: $svm-padding-footer-lr;
    }
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
